<app-barra-superior></app-barra-superior>


<body>
    <div class="container" style="margin-top: 5%;">
        <div class="card" style="width: 18rem;
        display: block;
        margin: auto;">
            <div class="card-header">
                <h2><strong>Funciones Profesor</strong></h2>
            </div>
            <ul class="list-group list-group-flush" style="w
            display: block;
            margin: auto;">
                <li class="list-group-item "><button type="button" class="btn btn-warning">Crear Curso</button></li>
                <li class="list-group-item"><button type="button" class="btn btn-warning">Responder Preguntas</button></li>

            </ul>
        </div>
    </div>

</body>



<app-barra-inferior></app-barra-inferior>