#divPadre {
    height: 100px;
    width: 800px;
    text-align: center;
    background-color: blue;
}

#divHijo {
    height: 50px;
    width: 400px;
    margin: 0px auto;
    background-color: red;
    display: block;
}