<ng-container id="cambiarContraseña">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <!-- Titulo Cambiar contraseña -->
        <span id="tituloCambiarContraseña" class="login100-form-title">
          CAMBIAR CONTRASEÑA
        </span>

        <!-- Cambiar contraseña -->
        <form class="login100-form p-5" [formGroup]="ChangeForm" (ngSubmit)="Change()">

          <p class="text-center font-weight-bold">Usuario: </p>

          <!-- Campo Nueva contraseña -->
          <div class="Form-group mb-3">
            <input type="password" formControlName='nuevaContraseña' name="nuevaContraseña" (input)='validarPass()' id='nuevaContraseña' class="form-control" placeholder="Nueva Contraseña">
            <div id="erroresPassword" class="invalid-feedback">Este campo solo acepta letras</div>
          </div>

          <!-- Campo Confirmar contraseña -->
          <div class="Form-group mb-3">
            <input type="password" name="confirmarContraseña" (input)='validarConfirmPass($event)' id='confirmarContraseña' class="form-control" placeholder="Confirmar Contraseña">
            <div id="erroresConfirm" class="invalid-feedback">Este campo solo acepta letras</div>
          </div>

          <!-- Botones Cambiar contraseña -->
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Cambiar contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
