<!-- Autor:
     Ronaldo Carlos Rodriguez Perez
     Ultima Edicion Por:
     Ronaldo Carlos Rodriguez Perez
     Fecha Ultima Edicion:
    30/07/2020
 -->

<ng-container id="Login"></ng-container>

<ng-container id="Registrar"></ng-container>

<ng-container id="RecuperarContraseña"></ng-container>



<div class="limiter">
   <div class="container-login100">
      <div class="wrap-login100">
         <form class="login100-form validate-form p-l-55 p-r-55 p-t-150">
            <span class="login100-form-title">
               REGISTRO
            </span>
            <span class="login100-form-title2">
               Tus Datos Personales
            </span>
            
            <div class="input-group mb-3">
               <input type="text" name="CorreoElectronico" class="form-control" placeholder="Nombre Completo">
             </div>
             <div class="input-group mb-3">
               <select type="text" name="CorreoElectronico" class="form-control" placeholder="Nombre Completo">
                  <option hidden selected>Tipo de Documento</option>
                  <option value="1">Cedula de Ciudadania</option>
                  <option value="2">Tarjeta de Identidad</option>
                  <option value="3">Cedula de Extranjeria</option>
               </select>
             </div>
             <div class="input-group mb-3">
               <input type="text" name="CorreoElectronico" class="form-control" placeholder="No de Documento">
             </div>


            <div class="p-t-13 p-b-160">


            </div>

            <div class="login100-form-titleF">
               <div class="text-center p-b-10">
                  <span class="txt2">
                     ¿Ya tienes una cuenta?
                  </span>
               </div>

               <div class="container-login100-form-btn">
                  <button class="login100-form-btn">
                     Iniciar Sesión
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>