<app-barra-superior></app-barra-superior>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2919/2919600.svg" alt="usuario" />
            <h1>Bienvenido</h1>
            <h1>Editar Perfil</h1>

        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pagina 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pagina 2</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1 class="register-heading">Informacion del usuario</h1>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombres *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apellidos *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="fecha nacimiento *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Tipo identificacion *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder=" identificacion *" value="" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="profesion *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="telefono" class="form-control" placeholder="telefono *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="telefono" class="form-control" placeholder="seguridad social *" value="" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="etnia *" value="" />
                            </div>
                            <button type="button" class="btn btn-warning">Actualizar Datos</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h1 class="register-heading">Informacion del usuario</h1>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="genero *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contraseña *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="exclusividad" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="promotor *" value="" />
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="estado validacion *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="nivel academico *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Tipo usuario *" value="" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ubicacion *" value="" />
                            </div>

                            <button type="button" class="btn btn-warning">Actualizar Datos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>