<app-barra-superior></app-barra-superior>
<blockquote class="blockquote text-center" style="padding-top: 3%;">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <strong>
        <h1> Mis Cursos </h1>
    </strong>

    <footer class="blockquote-footer mb-3">
        <form class="example-form">
            <mat-form-field>
                <mat-label>Buscador</mat-label>
                <input [formControl]="BuscarCurso" matInput placeholder="Buscador">
                <!-- <mat-error *ngIf="Direccion.hasError('required')">Ingrese la direccion del
                                                usuario
                                            </mat-error> -->
            </mat-form-field>
        </form>
    </footer>
</blockquote>


<div class="container" style="padding-bottom: 5%;">


    <div class="card-deck ">
        <div class="card text-center shadow-lg p-3 mb-1 bg-white rounded col-md-4" style="width: 18rem;" *ngFor="let Curso of ListaCursos | filtroMisCursos:BuscarCurso.value ">
            <img src="{{Curso.Curso.LinkImagen}}" style="height: 130px; width:200px ;display:block;margin:auto;">
            <div class="card-body">
                <h5 class="card-title">
                    <p>Nombre Curso: {{Curso.Curso.Nombre}} </p>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Descripcion Curso: {{Curso.Curso.Descripcion}} </p>
                </li>
                <li class="list-group-item">
                    <p>Autor Curso: {{Curso.Profesor.Nombres}} {{Curso.Profesor.Apellidos}} </p>
                </li>
                <li class="list-group-item">
                    <div class="FiltroCurso" *ngFor="let Filtro of Curso.NombresFiltro" style="border: black 2px solid;">
                        <p>Nombre Filtro : {{Filtro.Nombre}} </p>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                <button button type="button" class="btn btn-warning text-white">Mirar Curso</button>
            </div>
        </div>
    </div>
</div>

















<app-barra-inferior></app-barra-inferior>