<!-- Autor:
     Ronaldo Carlos Rodriguez Perez
     Ultima Edicion Por:
     Ronaldo Carlos Rodriguez Perez
     Fecha Ultima Edicion:
    30/07/2020
 -->

<ng-container id="Login">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
         <form class="login100-form validate-form p-l-55 p-r-55 p-t-140">
            <span class="login100-form-title">
               INICIO DE SESIÓN
            </span>

            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
               <input class="input100" type="text" name="username" placeholder="Correo Electronico"  [(ngModel)]="this.LoginUsuario.CorreoElectronico">
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Please enter password">
               <input class="input100" type="password" name="pass"  placeholder="Contraseña"  [(ngModel)]="this.LoginUsuario.Contrasena">
            </div>
  
            <!-- Enlace olvidaste contraseña -->
            <div class="mb-3">
              <button (click)="mostrarVistaRecuperarContrasena()" type="button" class="txt2 bg-transparent border-0">¿Olvidaste tu
                contraseña?</button>
            </div>
  
            <!-- Botones Iniciar sesion y Registrarse -->
            <div class="container-login100-form-btn">
               <button class="login100-form-btn" (click)="Loguearse()" >
                  Iniciar Sesión
               </button>
            </div>
            <div class="container-login100-form-btn">
              ó
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn2">
                Registrate
              </button>
            </div>
          </form>
        </div>

        <app-recuperar-contrasena *ngIf="vistaRecuperarContrasena == true"></app-recuperar-contrasena>
      </div>
    </div>
  </div>
</ng-container>

<ng-container id="Registrar"></ng-container>

<ng-container id="RecuperarContraseña"></ng-container>
