<!-- Autor:
     Ronaldo Carlos Rodriguez Perez
     Ultima Edicion Por:
     Ronaldo Carlos Rodriguez Perez
     Fecha Ultima Edicion:
    30/07/2020
 -->

<ng-container id="Login">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <!-- Titulo Inicio sesion -->
        <span class="login100-form-title">
          INICIO DE SESIÓN
        </span>

        <!-- Inicio sesion -->
        <form class="login100-form p-5" [formGroup]="loginForm" (ngSubmit)="Loguearse()">
          <!-- Campo Correo Electronico -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="email" (input)="validarCorreoElectronico()" formControlName="CorreoElectronico" class="form-control" placeholder="Correo Electrónico">

            <!-- Errores Correo Electronico -->
            <div class="alert alert-danger" *ngIf="CorreoElectronico.invalid && (CorreoElectronico.dirty || CorreoElectronico.touched)">
              <div class="invalid-feedback" *ngIf="CorreoElectronico.errors.required">
                El correo es obligatorio
              </div>
              <div class="container-error-message" *ngIf="CorreoElectronico.errors.pattern">
                El correo debe ser de tipo email
              </div>
            </div>
          </div>

          <!-- Campo Contraseña -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" (input)="Loguearse()" formControlName="Contraseña" class="form-control" placeholder="Contraseña">
          </div>

          <!-- Enlace olvidaste contraseña -->
          <div class="mb-3">
            <button [routerLink]="['/recuperar-contraseña']" type="button"
              class="txt2 bg-transparent border-0">¿Olvidaste tu
              contraseña?</button>
          </div>

          <!-- Botones Iniciar sesion y Registrarse -->
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Iniciar Sesión
            </button>
          </div>
          <div class="container-login100-form-btn">
            ó
          </div>
          <div class="container-login100-form-btn">
            <button [routerLink]="['/registro']" class="login100-form-btn2">
              Registrate
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
