<div>
  <!-- Titulo Inicio sesion -->
  <span id="tituloRecuperarContraseña" class="login100-form-title">
    RECUPERAR CONTRASEÑA
  </span>

  <!-- Inicio sesion -->
  <form class="login100-form p-5">

    <p>
      Se le enviara un enlace con el que cambiara su contraseña al correo de su cuenta que digite.<br><br>
      <strong>IMPORTANTE:</strong> Este correo no sera valido pasadas 24 horas de haberse enviado el correo.
    </p>

    <!-- Campo Correo Electronico -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="email" name="CorreoElectronico" class="form-control" placeholder="Correo Electrónico">
    </div>

    <!-- Boton enviar -->
    <div class="container-login100-form-btn">
      <button class="login100-form-btn2">
        Enviar
      </button>
    </div>
  </form>
</div>
