<ng-container id="recuperarContrasena">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <!-- Titulo Recuperar contraseña -->
        <span id="tituloRecuperarContraseña" class="login100-form-title">
          RECUPERAR CONTRASEÑA
        </span>

        <!-- Recuperar contraseña -->
        <form class="login100-form p-5">

          <p>
            Se le enviara un enlace con el que cambiara su contraseña al correo de su cuenta que digite.<br><br>
            <strong>IMPORTANTE:</strong> Este correo no sera valido pasadas 24 horas de haberse enviado el correo.
          </p>

          <!-- Campo Correo Electronico -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="email" name="CorreoElectronico" class="form-control" placeholder="Correo Electrónico">
          </div>

          <!-- Boton enviar -->
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Enviar
            </button>
          </div>
          <div class="container-login100-form-btn">
            ó
          </div>
          <div class="container-login100-form-btn">
            <button [routerLink]="['/login']" class="login100-form-btn2">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
