<app-barra-superior></app-barra-superior>
<ng-container>
    <div class="container " style="
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;" style="display: block;
        margin: auto;
        width: 60%;">

            <h2 class="card-title text-center" style="display: block;
            margin: auto;">
                <strong>Informacion del Curso</strong>
            </h2>
            <img src="{{Curso.LinkImagen}}" style="height: 50%; width:50% ;
            display: block;
            margin: auto;">
            <div class="card-body">
                <h3 class="card-title">
                    <strong>{{Curso.Nombre}}</strong>
                </h3>
                <p class="card-text">{{Curso.Descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><strong>Autor Curso:</strong> {{Profesor.Nombres}} {{Profesor.Apellidos}} </p>
                </li>
                <li class="list-group-item">
                    <div class="SeccionCurso" *ngFor="let seccion of SeccionesCurso" style="border: rgb(255, 215, 85) 2px solid;">
                        <p><strong>Seccion :</strong> {{seccion.Nombre}} </p>
                        <p><strong>Seccion :</strong> {{seccion.Numero}} </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="FiltroCurso" *ngFor="let Filtro of NombresFiltro">
                        <p><strong>Filtro :</strong> {{Filtro.Nombre}} </p>
                    </div>
                </li>
            </ul>
            <div class="card-body">

                <div class="butoon"  *ngIf="Logueado">
                    <button type="button" class="btn btn-warning text-white" *ngIf="AregarCurso"  color="primary" (click)="QuitarCurso()"  >Quitar de Favoritos</button>
                    <button type="button" class="btn btn-warning text-white" *ngIf="!AregarCurso"  color="primary" (click)="AgregarCurso()"  >Añadir a favoritos</button>

                </div>
        
                <form *ngIf="Logueado">
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <!--
          --><label for="radio1">★</label>
                        <!--
          --><input id="radio2" type="radio" name="estrellas" value="4">
                        <!--
          --><label for="radio2">★</label>
                        <!--
          --><input id="radio3" type="radio" name="estrellas" value="3">
                        <!--
          --><label for="radio3">★</label>
                        <!--
          --><input id="radio4" type="radio" name="estrellas" value="2">
                        <!--
          --><label for="radio4">★</label>
                        <!--
          --><input id="radio5" type="radio" name="estrellas" value="1">
                        <!--
          --><label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
    </div>
















</ng-container>
<app-barra-inferior></app-barra-inferior>